footer {
    background-color: $nero;

    p,
    a,
    span {
        color: #ffffff;
    }

    p,
    a {
        font-size: 14px;

        @include tablet {
            font-size: 12px;
        }
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        padding-top: 65px;
        padding-bottom: 55px;
        padding-right: 150px;
        padding-left: 150px;

        @include tablet {
            padding-right: 100px;
            padding-left: 100px;
        }

        @include small-screen {
            padding-right: 50px;
            padding-left: 50px;
        }

        @include mobile {
            display: flex;
            flex-direction: column;
            padding-right: 15px;
            padding-left: 15px;
        }

        p {
            padding-bottom: 5px;
        }

        .footer-first-column {

            a {
                &:hover {
                    opacity: 0.8;
                }
            }
        }

        .footer-second-column {
            padding-right: 50px;
            padding-left: 50px;

            @include mobile {
                padding-right: 0;
                padding-left: 0;
                padding-top: 20px;
                padding-bottom: 20px;
            }

            .contact {
                padding-bottom: 15px;
            }

            .address,
            .phones,
            .emails {
                display: flex;
                flex-direction: row;
                align-items: center;

                a {
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }

        .footer-third-column {

            a {
                text-decoration: none;
                padding-left: 10px;

            }

            img {
                padding-top: 10px;
                height: 24px;

                @include tablet {
                    height: 20px;
                }

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    .copyright {
        font-size: 12px;
        opacity: 0.8;
        display: flex;
        justify-content: center;
        padding-bottom: 45px;
    }
}

.social-icons {
    display: flex;
    flex-direction: row;
}